/* Font family

Font size

Text color

Background color */

*{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    text-align: justify;
}

h1{
    font-size: 2.5em;
    color: #333333;
}

body{
    color: #555555;
    line-height: 1.6;
}