/* Horizontal navigation
Card layout (row → wrap)
Center content (both axes)
display: flex
justify-content
align-items
gap
flex-wrap */

.flex1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.flex2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.flex3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.flex3 .box{
    border: 25px solid grey;
    padding: 2px;
    margin: 10px;
}