.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .container {
    font-weight: bolder;
  }
  .item {
    font-size: 14px;
    border: 5px solid #000 !important;
  }
}

.item{
    flex: 1;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}