.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

.item{
    flex: 1;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}